@import '../../common/color.scss';

.movie-list,.show-list{
    margin: 20px 0;
    h2{
        color: $font-secondary;
        margin-bottom:10px ;
        font-weight: bold;
        font-size: 30px;text-align: center;
        background-color: rgba(215, 226, 250, 0.171);
        border-radius: 20px;
       letter-spacing: 3px;
       text-transform: uppercase;
      
    }
}
// .movie-container{
//     display: grid;
//     grid-template-columns: repeat(auto-fill , minmax(280px , 1fr));
//     gap:15px;

// }